<section class="main">
  <header>
    <h2 class="title">Your personal info.</h2>
  </header>

  <div class="body">
    <div [formGroup]="form">
      <ng-container formArrayName="guests">
        <ng-container
          *ngFor="let guestsForm of guests?.controls; let i = index"
        >
          <div [formGroup]="getFormGroupAt(i)" *ngIf="i + 1 == guestNum">
            <div class="form-control">
              <label class="clicked mb-1" for="fullName"> Full name </label>
              <input
                type="text"
                formControlName="fullName"
                id="fullName"
                class="input w-100"
              />
            </div>

            <div class="form-control">
              <label class="clicked mb-1" for="email"> Email (Optional) </label>
              <input
                type="text"
                formControlName="email"
                id="email"
                class="input w-100"
              />
            </div>

            <div class="form-control b-none">
              <label class="clicked mb-1" for="mobile"> Mobile number </label>
              <ngx-intl-tel-input
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [selectFirstCountry]="false"
                [maxLength]="11"
                [phoneValidation]="true"
                [selectedCountryISO]="CountryISO.Egypt"
                [inputId]="'mobile'"
                name="mobile"
                formControlName="mobile"
                class="input w-100 b-none"
                (ngModelChange)="verifyPhone($event?.number)"
              ></ngx-intl-tel-input>
            </div>

            <div class="form-control mb-6">
              <label class="clicked mb-1" for="socialLink"
                >Social media link
              </label>
              <input
                type="text"
                formControlName="socialLink"
                id="socialLink"
                placeholder="facebook.com/PartyBooster"
                class="input w-100"
              />
            </div>

            <div class="form-control">
              <input
                type="checkbox"
                formControlName="transporation"
                id="transporation"
                class="checkbox"
              />
              <label class="clicked" for="transporation"
                >I’ll use the festival’s transporation option 🚐
              </label>
            </div>

            <div class="form-control">
              <div class="content clicked">
                <div class="data" (click)="isListShown = !isListShown">
                  <h2 [class.active]="selectedItem?._id">
                    {{
                      selectedItem?.name ||
                        "Select the nearest pick-up point to you"
                    }}
                  </h2>
                  <span>^</span>
                </div>

                <div class="list" *ngIf="isListShown">
                  <ul>
                    <li
                      *ngFor="let transportation of tickets.transportation"
                      (click)="setSelectedTransportation(transportation)"
                      [class.disabled]="!transportation?.availability"
                      [class.selected]="
                        selectedItem?._id == transportation?._id
                      "
                    >
                      <span>test{{ transportation?.name }}</span>
                      <span>10:00 AM</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="pricing" *ngIf="selectedItem">
                <div class="content">
                  <div class="left">
                    <span *ngIf="selectedItem">
                      There will be {{ selectedItem?.price }} EGP transportation
                      fees added to the ticket.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-control mb-2">
              <input
                type="checkbox"
                formControlName="vegeterian"
                id="vegeterian"
                class="checkbox"
              />
              <label class="clicked" for="vegeterian"
                >I’m a vegeterian 🥒
              </label>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <div class="form-control">
      <button class="btn" (click)="addGuest()">
        Continue to
        {{
          guestNum < ownerData?.numberOfGuests?.quantity
            ? "Guest #" + (guestNum + 1)
            : "Summary"
        }}
      </button>
    </div>
  </div>
</section>
