<section class="main">
  <header>
    <h2 class="title">Your personal info.</h2>
  </header>
  <div class="body">
    <div [formGroup]="form">
      <ng-container formArrayName="guests">
        <ng-container
          *ngFor="let guestsForm of guests?.controls; let i = index"
        >
          <div [formGroup]="getFormGroupAt(i)" *ngIf="i + 1 == guestNum">
            <a (click)="decreaseGuestNumber()">{{ guestNavigationText() }} </a>

            <div class="guestInfo">
              Guest #{{ guestNum + 1 }} Info

              <div class="line">
                <span class="before"></span>
                <span class="data"
                  >{{ guestNum + 1 }}/{{
                    ownerData?.guests[0]?.numberOfGuests?.quantity + 1
                  }}</span
                >
                <span
                  class="after"
                  [ngStyle]="{
                    width:
                      (100 / ownerData?.guests[0]?.numberOfGuests?.quantity) *
                        guestNum +
                      '%'
                  }"
                ></span>
              </div>
            </div>

            <div class="form-control">
              <label class="clicked mb-1" for="fullName"> Full name </label>
              <input
                type="text"
                formControlName="fullName"
                id="fullName"
                class="input w-100"
                [class.error]="
                  getValidity(i).value?.fullName.invalid &&
                  (getValidity(i).value?.fullName.dirty ||
                    getValidity(i).value?.fullName.touched)
                "
              />
            </div>

            <div class="form-control">
              <label class="clicked mb-1" for="email"> Email </label>
              <input
                type="text"
                formControlName="email"
                id="email"
                class="input w-100"
                [class.error]="
                  getValidity(i).value?.email.invalid &&
                  (getValidity(i).value?.email.dirty ||
                    getValidity(i).value?.email.touched)
                "
              />
            </div>

            <div class="form-control b-none">
              <label class="clicked mb-1" for="phone"> Mobile number </label>
              <ngx-intl-tel-input
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [selectFirstCountry]="false"
                [maxLength]="11"
                [phoneValidation]="true"
                [selectedCountryISO]="CountryISO.Egypt"
                [inputId]="'phone'"
                name="phone"
                formControlName="phone"
                class="input w-100 b-none"
                [class.error]="phoneError"
                (ngModelChange)="verifyPhone($event)"
              ></ngx-intl-tel-input>
              <p class="error" *ngIf="phoneError">
                This mobile number is already inserted before.
              </p>
            </div>

            <div class="form-control mb-6">
              <label class="clicked mb-1" for="socialMediaLink"
                >Social media link
              </label>
              <input
                type="text"
                formControlName="socialMediaLink"
                id="socialMediaLink"
                class="input w-100"
                [class.error]="
                  getValidity(i).value?.socialMediaLink.invalid &&
                  (getValidity(i).value?.socialMediaLink.dirty ||
                    getValidity(i).value?.socialMediaLink.touched)
                "
              />
            </div>

            <div class="form-control">
              <input
                type="checkbox"
                formControlName="transportationChecked"
                id="transportationChecked"
                class="checkbox"
              />
              <span class="checkmark"></span>
              <label class="clicked" for="transportationChecked"
                >I’ll use the festival’s transporation option 🚐
              </label>
            </div>

            <div
              class="form-control"
              *ngIf="getValidity(i).value?.transportationChecked"
            >
              <div class="content clicked">
                <div class="data" (click)="isListShown = !isListShown">
                  <h2 [class.active]="selectedItem?._id">
                    {{
                      selectedItem?.name ||
                        "Select the nearest pick-up point to you"
                    }}
                  </h2>
                  <span>
                    <img src="assets/dropdown-arrow.svg" alt="dropdown arrow" />
                  </span>
                </div>

                <div class="list" *ngIf="isListShown">
                  <ul>
                    <li
                      *ngFor="let transportation of tickets.transportation"
                      (click)="setSelectedTransportation(transportation, i)"
                      [class.disabled]="!transportation?.availability"
                      [class.selected]="
                        selectedItem?._id == transportation?._id
                      "
                    >
                      <span>{{ transportation?.name }}</span>
                      <!-- <span>10:00 AM</span> -->
                    </li>
                  </ul>
                </div>
              </div>

              <div class="pricing" *ngIf="selectedItem">
                <div class="content">
                  <div class="left">
                    <span *ngIf="selectedItem">
                      There will be {{ selectedItem?.price }} EGP transportation
                      fees added to the ticket.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-control mb-2">
              <input
                type="checkbox"
                formControlName="isVegeterian"
                id="isVegeterian"
                class="checkbox"
              />
              <span class="checkmark"></span>
              <label class="clicked" for="isVegeterian"
                >I’m a vegeterian 🥒
              </label>
            </div>

            <div class="form-control">
              <button
                class="btn"
                [class.disabled]="phoneError || guestsForm.invalid"
                [disabled]="phoneError || guestsForm.invalid"
                (click)="addGuest(i)"
              >
                Continue to
                {{
                  guestNum < ownerData?.guests[0]?.numberOfGuests?.quantity
                    ? "Guest #" + (guestNum + 1)
                    : "Summary"
                }}
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
