<section class="main">
  <header>
    <div class="app-header">
      <img src="assets/logo.png" alt="dawayer logo" />
      <div class="content">
        <h1>Dawayer Music Festival</h1>
        <p>Registeration Form</p>
      </div>
    </div>

    <h2 class="title">Accommodation.</h2>
  </header>

  <div class="body">
    <form [formGroup]="profileForm">
      <ng-container *ngIf="tickets?.accommodation">
        <!-- <h2 class="accommodation title">Accommodation</h2> -->
        <h3 class="accommodation note">
          Please choose your preferred tent size. <br />
          Tents prices are per tent for 3 nights <br />
          BYOT price is per person for 3 nights
          <br /><br />
          For on island rooms & near by hotels please contact us at
          <br /><br />
          <a href="mailto:reservations@dawayerfestival.com"
            >Reservations@dawayerfestival.com</a
          >
          <br /><br />
          <a href="tel:+201005189891">+20 100 518 9891</a>
        </h3>
        <ng-container *ngFor="let item of tickets?.accommodation">
          <h3>{{ item?.name }}</h3>

          <div
            class="numberOfGuests"
            [class.opacity]="item?.availableQuantity == 0"
          >
            <span class="clicked minus" (click)="decrement(item)">
              <img
                src="assets/{{
                  accommodationValue(item.name)?.quantity == 0
                    ? 'minus-disabled'
                    : 'minus'
                }}.svg"
                alt="minus"
              />
            </span>
            <p class="guestsLength">
              <img
                [src]="item?.productIcon || item?.name.toLowerCase().includes('own') ? 'assets/byot.svg' : 'assets/tent.svg'"
                alt="guest photo"
                class="bungalow mb-6"
              />

              <span>
                {{ accommodationValue(item.name)?.quantity }}
                {{ item?.indicatorName || '' }}
              </span>
            </p>
            <span
              class="clicked plus"
              (click)="
                accommodationValue(item.name)?.quantity !==
                item?.availableQuantity
                  ? increment(item)
                  : noAvailableQty(item?.availableQuantity)
              "
            >
              <img
                [src]="
                  accommodationQty !== 8 && item?.availableQuantity !== 0
                    ? 'assets/plus.svg'
                    : 'assets/plus-disabled.svg'
                "
                alt="plus"
              />
            </span>
          </div>
          <h3
            class="note mb-2 mt-8"
            [class.active]="item?.availableQuantity == 0"
            *ngIf="item?.availableQuantity == 0"
          >
            <img src="assets/not.svg" alt="not" />
            Sorry, {{ accommodationValue(item.name)?.name }} are not available
            right now 🙁
          </h3>
          <h3
            class="note mb-2 mt-8"
            *ngIf="accommodationQty == 8 && item?.availableQuantity !== 0"
          >
            You have reached the maximum available quantity
          </h3>

          <div
            class="pricing"
            *ngIf="item?.price && item?.availableQuantity !== 0"
          >
            <div class="content">
              <div class="left">
                <ng-container *ngIf="!item?.description">
                  <ng-container *ngIf="!item?.name?.includes('Byot')">
                    <span *ngIf="item?.items?.numberOfPersons">
                      <img
                        [src]="
                          item?.items?.numberOfPersons > 2
                            ? 'assets/persons.svg'
                            : 'assets/users-disabled.svg'
                        "
                        alt="users"
                      />
                      For {{ item?.items?.numberOfPersons }}
                      {{
                        item?.items?.numberOfPersons > 1 ? "persons" : "person"
                      }}
                    </span>
                    <span *ngIf="item?.items?.numberOfBeds">
                      <img
                        [src]="
                          item?.items?.numberOfBeds == 1
                            ? 'assets/bed.svg'
                            : 'assets/beds.svg'
                        "
                        alt="beds"
                      />
                      {{ item?.items?.numberOfBeds }} Bed{{
                        item?.items?.numberOfBeds > 1 ? "s" : ""
                      }}
                    </span>
                    <span *ngIf="item?.items?.haveBathroom">
                      <img src="assets/bathroom.svg" alt="bathroom" />
                      Bathroom
                    </span>
                    <span *ngIf="item?.items?.haveWaterHeater">
                      <img src="assets/water-heater.svg" alt="water-heater" />
                      Water Heater
                    </span>
                  </ng-container>

                  <ng-container *ngIf="item?.name?.includes('Byot')">
                    <span>
                      Bring your own tent and we will provide the area.
                      <br />
                      Please specify how many slots you want?
                    </span>
                  </ng-container>
                </ng-container>

                <p *ngIf="item?.description">{{ item?.description }}</p>
              </div>
              <div class="right">{{ item?.price }} EGP / {{item?.typePer || 'each'}}</div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <div class="form-control">
        <button class="btn" (click)="submitForm()">Continue to Summary</button>
      </div>
    </form>
  </div>
</section>
