<section class="main">
  <header>
    <img src="assets/home.svg" alt="main image" class="header-image" />
  </header>

  <div class="body">
    <span class="welcome"> Welcome to </span>

    <h1 class="title">Dawayer Music Festival</h1>

    <p class="description">
      A timeless and adventurous experience that stimulates the heart, mind,
      body and soul. Dawayer is coming back for its second edition, to bring
      together a wide group of talented musicians, artists, performers, healers,
      and so much more on the mesmerizing Oasis of Siwa.
    </p>

    <div class="box">
      <div class="content">
        <p>We’re accepting tickets online payment</p>
        <p>Only online payments are accepted</p>
      </div>

      <div class="image">
        <img src="assets/credits.svg" alt="main image" class="header-image" />
      </div>
    </div>
    <h2 class="note">
      <img src="assets/not.svg" alt="!" />
      Please Note that passes are non refundable.
    </h2>
  </div>

  <footer>
    <div class="form-control">
      <button class="btn book-tickets" routerLink="group-booking">
        Build your package
      </button>
    </div>
  </footer>
</section>
