<section class="main">
  <header>
    <h2 class="title">Booking Summary</h2>
  </header>

  <div class="body">
    <div class="alert">
      <img src="assets/summary.svg" alt="credits" />
      <p>
        Once your submission is approved, each guest will receive a payment link
        to pay for their tickets.
      </p>
    </div>

    <!-- <div class="voucher">
      <img src="assets/voucher.svg" alt="voucher icon" />
      <input
        autofocus
        autocomplete="off"
        type="text"
        [(ngModel)]="voucherCode"
        id="voucherCode"
        class="input w-100"
        [class.error]="true"
        placeholder="Insert Voucher Code"
      />
      <button class="submit" [class.disabled]="!voucherCode">Submit</button>
    </div> -->

    <div class="paymentDetails" *ngIf="bookingData?.accommodation?.length">
      <h2 class="title">Payment details</h2>
      <div class="payment">
        <span class="left">
          Tickets ({{ bookingData?.guests?.length }} x
          {{ bookingData?.guests[0]?.price }} EGP)
        </span>
        <span class="right"
          >{{
            bookingData?.guests?.length * bookingData?.guests[0]?.price
          }}
          EGP</span
        >
      </div>
      <div class="payment">
        <span class="left">
          Transportation ({{ numOfTransportationGuests }} x
          {{ bookingData?.guests[0]?.transportation?.price }} EGP)
        </span>
        <span class="right"
          >{{
            numOfTransportationGuests *
              bookingData?.guests[0]?.transportation?.price
          }}
          EGP</span
        >
      </div>
      <div class="payment" *ngFor="let item of bookingData?.accommodation">
        <span class="left"
          >{{ item?.name }} ({{ item?.quantity }} x {{ item?.price }} EGP)</span
        >
        <span class="right">{{ item?.quantity * item?.price }} EGP</span>
      </div>
      <div class="payment border">
        <span class="left">Total Price</span>
        <span class="right big">{{ totalAmount() }} EGP</span>
      </div>
    </div>

    <ng-container *ngFor="let person of bookingData?.guests; let i = index">
      <div class="personalInfo" *ngIf="person?.isOwner">
        <h2 class="title">Your personal info.</h2>
        <div class="content">
          <ul>
            <li>{{ person?.fullName }}</li>
            <li>{{ person?.email }}</li>
            <li>{{ person?.phone }}</li>
            <li>{{ person?.socialMediaLink }}</li>
            <li *ngIf="person?.transportation?.name">
              <span class="left">Transportation</span>
              <span class="right">{{ person?.transportation?.name }}</span>
            </li>
            <li *ngIf="person?.isVegeterian">
              <span class="left">Food Preference</span>
              <span class="right">Vegeterian</span>
            </li>
          </ul>

          <div class="actions center">
            <button class="edit" [routerLink]="'/summary-booking/' + i">
              Edit info
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="groupDetails" *ngIf="bookingData?.guests?.length">
      <ng-container *ngFor="let person of bookingData?.guests; let i = index">
        <ng-container *ngIf="!person?.isOwner">
          <h2 class="title">Group details</h2>
          <div class="guest" (click)="selectedPerson(person)">
            <span class="left">{{ person?.fullName }}</span>
            <span class="left">
              <img src="assets/dropdown-arrow.svg" alt="dropdown arrow" />
            </span>
          </div>
          <div class="content" *ngIf="person?.phone == selectedPhone">
            <ul>
              <li>{{ person?.fullName }}</li>
              <li>{{ person?.email }}</li>
              <li>{{ person?.phone }}</li>
              <li>{{ person?.socialMediaLink }}</li>
              <li *ngIf="person?.transportation?.name">
                <span class="left">Transportation</span>
                <span class="right">{{ person?.transportation?.name }}</span>
              </li>
              <li *ngIf="person?.isVegeterian">
                <span class="left">Food Preference</span>
                <span class="right">Vegeterian</span>
              </li>
            </ul>

            <div class="actions">
              <button class="edit" [routerLink]="'/summary-booking/' + i">
                Edit info
              </button>
              <button class="remove" (click)="removePerson(person?.phone)">
                Remove
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <button
      class="btn"
      (click)="!isLoaderShown ? submitSummary() : ''"
      [disabled]="isLoaderShown"
    >
      {{ !isLoaderShown ? "Confirm and Submit" : "" }}

      <img
        src="assets/spinner.svg"
        alt="loader"
        class="btn-loading-img"
        *ngIf="isLoaderShown"
      />
    </button>
  </div>
</section>
