<section class="main">
  <header>
    <h2 class="title">Booking Summary</h2>
  </header>

  <div class="body">
    <div class="alert">
      <img src="assets/summary.svg" alt="credits" />
      <p>
        Once your submission is approved, each guest will receive a payment link
        to pay for their tickets.
      </p>
    </div>

    <div class="paymentDetails">
      <h2 class="title">Payment details</h2>
      <div class="payment">
        <span class="left">
          Tickets ({{ bookingData?.guests?.length }} x
          {{ bookingData?.guests[0]?.price }} EGP)
        </span>
        <span class="right" [class.discount]="voucherData">
          {{ bookingData?.guests?.length * bookingData?.guests[0]?.price }}
          EGP
        </span>
      </div>
      <div class="payment">
        <div class="voucher" *ngIf="!voucherData">
          <img
            src="assets/voucher.svg"
            alt="voucher logo"
            class="voucher-logo"
          />

          <input
            type="text"
            class="voucher-input"
            placeholder="Insert Voucher Code"
            [(ngModel)]="voucherCode"
            [class.error]="voucherError"
          />

          <span
            class="voucher-btn clicked"
            [class.active]="voucherCode"
            [class.spinner]="voucherError || isVoucherLoaderShown"
            (click)="voucherCode ? voucherCodeVerify() : ''"
          >
            <img
              *ngIf="isVoucherLoaderShown"
              src="assets/loading.gif"
              alt="voucher loading"
            />
            <img
              *ngIf="voucherError && voucherCode"
              src="assets/close.svg"
              alt="remove voucher value"
              class="clicked"
              (click)="resetVoucher()"
            />

            {{ !isVoucherLoaderShown && !voucherError ? "Submit" : "" }}
          </span>
        </div>

        <ng-container *ngIf="voucherData">
          <div class="left">
            <span class="voucher-applied">{{ voucherData?.code }} Applied</span>
            <br />
            <span class="voucher-savings">
              {{
                bookingData?.guests?.length * bookingData?.guests[0]?.price -
                  (bookingData?.guests?.length *
                    bookingData?.guests[0]?.price *
                    voucherData?.percentage) /
                    100
              }}
              EGP off applied on tickets
            </span>
          </div>
          <span class="right voucher-discount-number">
            {{
              bookingData?.guests?.length * bookingData?.guests[0]?.price -
                (bookingData?.guests?.length *
                  bookingData?.guests[0]?.price *
                  voucherData?.percentage) /
                  100
            }}
            EGP

            <img
              src="assets/close.svg"
              alt="voucher loading"
              class="clicked"
              (click)="resetVoucher()"
            />
          </span>
        </ng-container>

        <p class="error" *ngIf="voucherError">{{voucherError}}</p>
      </div>
      <div class="payment" *ngIf="numOfTransportationGuests">
        <span class="left">
          Transportation ({{ numOfTransportationGuests }} x
          {{ totalAmoutOfTransportationGuests / numOfTransportationGuests }}
          EGP)
        </span>
        <span class="right"
          >{{
            numOfTransportationGuests *
              (totalAmoutOfTransportationGuests / numOfTransportationGuests)
          }}
          EGP</span
        >
      </div>

      <ng-container *ngIf="bookingData?.accommodation?.length">
        <div class="payment" *ngFor="let item of bookingData?.accommodation">
          <span class="left"
            >{{ item?.name }} ({{ item?.quantity }} x
            {{ item?.price }} EGP)</span
          >
          <span class="right">{{ item?.quantity * item?.price }} EGP</span>
        </div>
      </ng-container>
      <div class="payment border">
        <span class="left">Total Price</span>
        <span class="right big">{{ totalAmount() }} EGP</span>
      </div>
    </div>

    <ng-container *ngFor="let person of bookingData?.guests; let i = index">
      <div class="personalInfo" *ngIf="person?.isOwner">
        <h2 class="title">Your personal info.</h2>
        <div class="content">
          <ul>
            <li>{{ person?.fullName }}</li>
            <li>{{ person?.email }}</li>
            <li>{{ person?.phone }}</li>
            <li>{{ person?.socialMediaLink }}</li>
            <li *ngIf="person?.transportation?.name">
              <span class="left">Transportation</span>
              <span class="right">{{ person?.transportation?.name }}</span>
            </li>
            <li *ngIf="person?.isVegeterian">
              <span class="left">Food Preference</span>
              <span class="right">Vegeterian</span>
            </li>
          </ul>

          <div class="actions center">
            <button class="edit" [routerLink]="'/summary-booking/' + i">
              Edit info
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="groupDetails" *ngIf="bookingData?.guests?.length">
      <ng-container *ngFor="let person of bookingData?.guests; let i = index">
        <ng-container *ngIf="!person?.isOwner">
          <h2 class="title">Group details</h2>
          <div class="guest" (click)="selectedPerson(person)">
            <span class="left">{{ person?.fullName }}</span>
            <span class="left">
              <img src="assets/dropdown-arrow.svg" alt="dropdown arrow" />
            </span>
          </div>
          <div class="content" *ngIf="person?.phone == selectedPhone">
            <ul>
              <li>{{ person?.fullName }}</li>
              <li>{{ person?.email }}</li>
              <li>{{ person?.phone }}</li>
              <li>{{ person?.socialMediaLink }}</li>
              <li *ngIf="person?.transportation?.name">
                <span class="left">Transportation</span>
                <span class="right">{{ person?.transportation?.name }}</span>
              </li>
              <li *ngIf="person?.isVegeterian">
                <span class="left">Food Preference</span>
                <span class="right">Vegeterian</span>
              </li>
            </ul>

            <div class="actions">
              <button class="edit" [routerLink]="'/summary-booking/' + i">
                Edit info
              </button>
              <button class="remove" (click)="removePerson(person?.phone)">
                Remove
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <button
      class="btn"
      (click)="!isLoaderShown ? submitSummary() : ''"
      [disabled]="isLoaderShown"
    >
      {{ !isLoaderShown ? "Confirm and Submit" : "" }}

      <img
        src="assets/spinner.svg"
        alt="loader"
        class="btn-loading-img"
        *ngIf="isLoaderShown"
      />
    </button>
  </div>
</section>
