<section class="main">
  <header>
    <h2 class="title">Your personal info.</h2>
  </header>

  <div class="body">
    <form [formGroup]="profileForm">
      <div class="form-control">
        <label class="clicked mb-1" for="fullName"> Full name </label>
        <input
          autofocus
          autocomplete="off"
          type="text"
          formControlName="fullName"
          id="fullName"
          class="input w-100"
          [class.error]="
            inputValue.fullName.invalid &&
            (inputValue.fullName.dirty || inputValue.fullName.touched)
          "
        />
      </div>

      <div class="form-control">
        <label class="clicked mb-1" for="email"> Email </label>
        <input
          type="text"
          autocomplete="off"
          formControlName="email"
          id="email"
          class="input w-100"
          [class.error]="
            inputValue.email.invalid &&
            (inputValue.email.dirty || inputValue.email.touched)
          "
        />
      </div>

      <div class="form-control b-none">
        <label class="clicked mb-1" for="phone"> Mobile number </label>
        <ngx-intl-tel-input
          autocomplete="off"
          autocomplete="nope"
          [enableAutoCountrySelect]="false"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [selectFirstCountry]="false"
          [maxLength]="11"
          [phoneValidation]="false"
          [selectedCountryISO]="CountryISO.Egypt"
          [inputId]="'phone'"
          name="phone"
          formControlName="phone"
          class="input w-100 b-none"
          [class.error]="phoneError"
          (ngModelChange)="verifyPhone($event)"
        ></ngx-intl-tel-input>

        <p
          class="error"
          *ngIf="
            inputValue.phone.errors &&
            inputValue.phone.errors['validatePhoneNumber']?.valid == false
          "
        >
          Please enter a valid mobile number.
        </p>
        <p class="error" *ngIf="phoneError">
          This mobile number is already inserted before.
        </p>
      </div>

      <div class="form-control mb-15">
        <label class="clicked mb-1" for="socialMediaLink"
          >Social media link
        </label>
        <input
          type="text"
          autocomplete="off"
          formControlName="socialMediaLink"
          id="socialMediaLink"
          class="input w-100"
          [class.error]="
            inputValue.socialMediaLink.invalid &&
            (inputValue.socialMediaLink.dirty ||
              inputValue.socialMediaLink.touched)
          "
        />
      </div>

      <div class="form-control">
        <input
          type="checkbox"
          formControlName="transportationChecked"
          id="transportationChecked"
          class="checkbox"
        />
        <span class="checkmark"></span>
        <label class="clicked" for="transportationChecked"
          >I’ll use the festival’s transporation option 🚐
        </label>
      </div>

      <div class="form-control" *ngIf="inputValue.transportationChecked.value">
        <div class="content clicked">
          <div class="data" (click)="isListShown = !isListShown">
            <h2 [class.active]="selectedItem?._id">
              {{
                selectedItem?.name || "Select the nearest pick-up point to you"
              }}
            </h2>
            <span class="arrow">
              <img src="assets/dropdown-arrow.svg" alt="dropdown arrow" />
            </span>
          </div>

          <div class="list" *ngIf="isListShown">
            <ul>
              <li
                *ngFor="let transportationItem of tickets.transportation"
                (click)="setSelectedTransportation(transportationItem)"
                [class.disabled]="!transportationItem?.availability"
                [class.selected]="selectedItem?._id == transportationItem?._id"
              >
                <span>{{ transportationItem?.name }}</span>
                <!-- <span>10:00 AM</span> -->
              </li>
            </ul>
          </div>
        </div>

        <div class="pricing" *ngIf="selectedItem">
          <div class="content">
            <div class="left">
              <span *ngIf="selectedItem">
                There will be {{ selectedItem?.price }} EGP transportation fees
                added to the ticket.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-control mb-2">
        <input
          type="checkbox"
          formControlName="isVegeterian"
          id="isVegeterian"
          class="checkbox"
        />
        <span class="checkmark"></span>
        <label class="clicked" for="isVegeterian">I’m a vegeterian 🥒 </label>
      </div>

      <!-- <h3 class="note">A chance to know you more</h3> -->
      <h3>Booking for how many guests?</h3>

      <div class="numberOfGuests mb-2 mt-15">
        <span class="clicked minus" (click)="decrement(tickets?.ticket[0])">
          <img
            src="assets/{{
              inputValue.numberOfGuests.value?.quantity == 0
                ? 'minus-disabled'
                : 'minus'
            }}.svg"
            alt="minus"
          />
        </span>
        <p class="guestsLength">
          <img src="assets/users.svg" alt="guest photo" class="user mb-6" />
          <span>{{ inputValue.numberOfGuests.value?.quantity }} Guest</span>
        </p>
        <span class="clicked plus" (click)="inputValue.numberOfGuests.value?.quantity !== 10 ? increment(tickets?.ticket[0], true) : this.noAvailableQty(10)">
          <img src="assets/plus.svg" alt="plus" />
        </span>
      </div>

      <ng-container *ngIf="tickets?.accommodation">
        <h2 class="accommodation title">Accommodation</h2>
        <h3 class="accommodation note">
          If you would like to accomodate with us, choose your favorite ⛺️
        </h3>
        <ng-container *ngFor="let item of tickets?.accommodation">
          <h3>{{ item?.name }}</h3>

          <div class="numberOfGuests">
            <span class="clicked minus" (click)="decrement(item)">
              <img
                src="assets/{{
                  accommodationValue(item.name)?.quantity == 0
                    ? 'minus-disabled'
                    : 'minus'
                }}.svg"
                alt="minus"
              />
            </span>
            <p class="guestsLength">
              <img
                src="assets/{{
                  item?.name?.includes('Island') ? 'bungalow' : 'tent'
                }}.svg"
                alt="guest photo"
                class="bungalow mb-6"
              />
              <span
                >{{ accommodationValue(item.name)?.quantity }}
                {{ accommodationValue(item.name)?.name }}</span
              >
            </p>
            <span class="clicked plus" (click)="accommodationValue(item.name)?.quantity !== item?.availableQuantity ? increment(item) : noAvailableQty(item?.availableQuantity)">
              <img src="assets/plus.svg" alt="plus" />
            </span>
          </div>
          <div class="pricing" *ngIf="item?.price">
            <div class="content">
              <div class="left">
                <span *ngIf="item?.items?.numberOfPersons">
                  <img [src]="item?.items?.numberOfPersons > 2 ? 'assets/persons.svg' : 'assets/users-disabled.svg'" alt="users" />
                  For {{ item?.items?.numberOfPersons }}
                  {{ item?.items?.numberOfPersons > 1 ? "persons" : "person" }}
                </span>
                <span *ngIf="item?.items?.numberOfBeds">
                  <img [src]="item?.items?.numberOfBeds == 1 ? 'assets/bed.svg' : 'assets/beds.svg' " alt="beds" />
                  {{ item?.items?.numberOfBeds }} Bed{{
                    item?.items?.numberOfBeds > 1 ? "s" : ""
                  }}
                </span>
                <span *ngIf="item?.items?.haveBathroom">
                  <img src="assets/bathroom.svg" alt="bathroom" />
                  Bathroom
                </span>
                <span *ngIf="item?.items?.haveWaterHeater">
                  <img src="assets/water-heater.svg" alt="water-heater" />
                  Water Heater
                </span>
              </div>
              <div class="right">{{ item?.price }} EGP / Tent</div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <div class="form-control">
        <button class="btn" 
        [class.disabled]="(phoneError || profileForm.invalid) || (!inputValue.transportation.value && inputValue.transportationChecked.value)"
        [disabled]="(phoneError || profileForm.invalid) || (!inputValue.transportation.value && inputValue.transportationChecked.value)"
        (click)="submitForm()">
          Continue to {{
            inputValue.numberOfGuests.value?.quantity
              ? "group details"
              : "Summary"
          }}
        </button>
      </div>
    </form>
  </div>
</section>
