.thank-you {
  color: #1e3045;
  font-family: "Inter";
  font-weight: 400;

  header {
    background-color: #ecf7f4;
    padding: 1.5rem;
    text-align: center;

    .title {
      font-weight: 500;
    }

    .alert {
      background-color: #fff;
      margin: 1.5rem;
      padding-top: 1rem;
      border-radius: 0.5rem;
      font-family: "Inter";

      p.header {
        font-size: 0.75rem;
      }

      h2 {
        font-size: 0.875rem;
        margin-bottom: 1rem;
      }

      &-body {
        padding: 0.5rem;
        background-color: #faf7f5;
        font-size: 0.875rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }

  .body {
    margin-top: 1rem 2rem 2rem;
    padding: 1rem;

    h2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      .left {
        font-family: "Inter";
        font-size: 1.125rem;
        font-weight: 600;
      }

      button {
        font-size: 0.75rem;
        font-family: "Inter";
        color: #0085ff;
        background-color: #fff;
        border: none;
        font-weight: 500;
        display: flex;
        align-items: center;

        img {
          margin-right: 0.25rem;
        }
      }
    }

    .guests {
      padding: 1rem;
      border: 1px solid #ededed;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-inline-start: 0;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;

        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          font-size: 0.875rem;

          &:last-of-type {
            margin-bottom: 0;
          }

          .name {
            color: #6d6d6d;
          }
        }
      }
    }

    p.alert {
      background-color: #faf7f5;
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
      margin-bottom: 2.5rem;
    }
  }

  footer {
    padding: 1rem;

    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6d6d6d;
      font-size: 0.75rem;

      img {
        vertical-align: middle;
        margin-inline-end: 0.5rem;
      }

      a {
        text-decoration: none;
        color: #0085ff;
      }

      &:last-of-type {
        justify-content: center;
        padding-top: 3rem;

        img {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }

        h2 {
          color: #3d3d3d;
          font-family: "Inter";
          font-weight: 500;
          font-size: 0.75rem;
        }
      }
    }
  }
}

h3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;

  &.note {
    font-size: 0.75rem;
    color: #6d6d6d;
    margin-bottom: 1.5rem;

    a {
      font-size: 0.75rem;
      font-family: "Inter";
      color: #0085ff;
      font-weight: 500;
      text-decoration: none;
    }

    &.accommodation {
      margin-bottom: 2rem;
    }
  }
}
