<section class="thank-you">
  <header>
    <img src="assets/verify.svg" alt="verify" />
    <h2 class="title">Tickets booked successfully</h2>

    <div class="alert">
      <p class="header">Group no.</p>
      <h2>{{ groupData?.groupId }}</h2>
      <p class="alert-body">You group is pending approval</p>
    </div>
  </header>

  <div class="body">
    <h2>
      <span class="left">Guest Codes</span>
      <button (click)="copyCode()">
        <img src="assets/codes.svg" alt="codes" />
        Copy Codes
      </button>
    </h2>

    <div class="guests">
      <ul>
        <li *ngFor="let guest of groupData?.guests">
          <span class="name">{{ guest?.fullName }}</span>
          <span class="code">{{ guest?.guestId }}</span>
        </li>
      </ul>
    </div>

    <p class="alert">Please save this codes, to be used on entrance</p>
  </div>

  <footer>
    <p>
      For any inquiries,
      <br />
      Please contact us at:
    </p>

    <div class="content">
      <a href="mailto:support@dawayer.com">
        <img src="assets/mail.svg" alt="mail" />
        support@dawayer.com
      </a>
      <a href="tel:+2010111607892">
        <img src="assets/phone.svg" alt="phone" />
        +2010111607892
      </a>
    </div>
  </footer>
</section>
