* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin: 0;
}

.title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.b-none {
  border: none !important;
}

.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

p,
h3,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.clicked {
  cursor: pointer;
}
