@font-face {
  font-family: "InterBold";
  src: url("assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "InterMedium";
  src: url("assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "DM Serif Display";
  src: url("assets/fonts/DMSerifDisplay-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  padding: 1rem 1rem 3rem;
  margin: 0;
}

@media screen and(min-width:768px) {
  body {
    background-color: #f2f1ed;
  }

  main {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.b-none {
  border: none !important;
}

.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

p,
h3,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  @extend .clicked;
  font-family: "Inter";
}

.clicked {
  cursor: pointer;
}
